# .NET Core / .NET Standard
*.dll
*.exe
*.pdb
*.dll.config
*.exe.config
*.deps.json
*.runtimeconfig.json

# Build results
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/

# Visual Studio files
.vs/
*.vscode/
*.sln
*.suo
*.user
*.userprefs
*.vspscc
*.vssscc
*.vspscc
*.dotCover
*.csproj.user
*.resharper
*.resharper.user
*.sln.docstates

# Test Results
[Tt]est[Rr]esult*/
[Bb]uild[Ll]og.*

# NuGet
packages/
*.nupkg
*.paket.*
*.paket.lock
paket-files/

# StyleCop
StyleCopReport.xml

# Others
_ReSharper*/
*.Cache
ClientBin/
[Ss]tyle[Cc]op.*
~$*
*.dbmdl
*.dbproj.schemaview
*.jfm
*.pfx
*.publishsettings
node_modules/
npm-debug.log